{% extends "components/_base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2>Login</h2>
                <form method="post" class="d-grid mb-3">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" autocomplete="email" id="inputEmail"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" autocomplete="current-password"
                            id="inputPassword" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" name="remember" for="rememberMe">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
                <p class="d-flex align-items-center gap-2">
                    Dont have an account?
                    <a href="/auth/register" class="btn btn-link p-0 text-decoration-none shadow-none">Create One</a>
                </p>
            </div>
        </div>

    </div>

</div>


{% endblock content %}