{% extends "components/_base.html" %}

{% block content %}

<h1>My Profile</h1>
<h3>Welcome {{user.username}}</h3>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Long URL</th>
            <th>Short Code</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for link in shortlinks %}
        <tr>
            <td>{{link.long_url}}</td>
            <td>
                <a href="/{{link.hash}}">
                    {{link.hash}}
                </a>
            </td>
            <td>{{link.created_at | date(format="%Y-%m-%d %H:%M")}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}