{% extends "components/_base.html" %}

{% block content %}
<div class="row  justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2>Register</h2>
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <form method="post" class="d-grid mb-3">
                    <div class="mb-3">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" autocomplete="username"
                            id="inputUsername" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" autocomplete="email" id="inputEmail"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" autocomplete="new-password"
                            id="inputPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <p class="d-flex align-items-center gap-2">
                    Already have an account?
                    <a href="/auth/login" class="btn btn-link p-0 text-decoration-none shadow-none">Login</a>
                </p>
            </div>
        </div>

    </div>

</div>


{% endblock content %}